
{% extends "base.html" %}

{% block title %}Teacher Login | Classroom Token Hub{% endblock %}

{% block content %}

    <div class="login-container">
        <h2>Classroom Token Hub </h2>
        
        <h3>Teacher Login</h3>

        {% with messages = get_flashed_messages() %}
          {% if messages %}
            <div class="alert alert-warning">
              {{ messages[0] }}
            </div>
          {% endif %}
        {% endwith %}

        <form method="POST">
            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
            <div class="mb-3">
                <label for="username" class="form-label">Username</label>
                <input type="text" class="form-control" id="username" name="username" required>
            </div>
            <div class="mb-3">

                <label for="totp" class="form-label">6-digit Authenticator Code</label>
                <input type="text" inputmode="numeric" pattern="\d{6}" maxlength="6" class="form-control" id="totp" name="totp_code" placeholder="Enter 6-digit code" required>

            </div>
            <button class="btn btn-primary w-100" type="submit">Log In</button>
        </form>

        <div class="mt-3 text-center">

            <p class="mt-3">
                <a class="text-decoration-none fw-bold text-secondary" href="{{ url_for('student_login') }}">Students? Log in here.</a>
            </p>
            <p class="mt-2">
                <a class="text-decoration-none fw-bold text-secondary" href="{{ url_for('admin_signup') }}">First time? Set up your account here</a>
            </p>

        </div>

        <p style="color:red;margin-top: 1rem;text-align: center;">
            This web app is currently under active development. <br>Some features may be unstable or crash unexpectedly.
        </p>
        
        <p class="mt-1 text-muted small">
            For questions or concerns, contact the developer at
            <a href="mailto:timothy.cs.chang@gmail.com">timothy.cs.chang@gmail.com</a>.
        </p>
        
        <small class="text-muted  mb-4"><a href="{{ url_for('privacy') }}">Read about how Classroom Token Hub uses your information</a></small><br>
        <small class="text-muted  mb-4"><a href="{{ url_for('terms') }}">Read our terms of service here</a></small>
        <small style="color: #999; text-align: center; display: block;margin-top: 1rem;">BETA Stable Release v0.9.0</small>
    </div>
{% endblock %}
