name: Deploy to DO on push to main

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest
    environment: production
    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - name: Set up SSH
      uses: webfactory/ssh-agent@v0.9.0
      with:
        ssh-private-key: ${{ secrets.DO_DEPLOY_KEY }}



    - name: Deploy to DO Production Server
      run: |
        # Connect to the production server and deploy
        ssh -o StrictHostKeyChecking=no root@24.199.127.184 << 'EOF'

          set -e  # Exit immediately if a command exits with a non-zero status

          echo 'Navigating to project directory...'
          cd ~/classroom-economy

          echo 'Fetching latest changes from main...'
          git fetch origin main

          echo 'Resetting to match remote main branch...'
          git reset --hard origin/main

          echo 'Activating virtual environment...'
          source venv/bin/activate


          echo 'Installing dependencies...'
          pip install -r requirements.txt

          # Ensure DATABASE_URL is set for migrations
          echo 'Exporting DATABASE_URL for production migrations...'
          export DATABASE_URL='${{ secrets.PRODUCTION_DATABASE_URL }}'

          echo 'Running database migrations...'
          flask db upgrade


          echo 'Restarting Gunicorn...'
          sudo systemctl restart gunicorn

          echo 'Deployment completed successfully.'

        EOF

