name: Deploy to DO on push to main

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - name: Set up SSH
      uses: webfactory/ssh-agent@v0.9.0
      with:
        ssh-private-key: ${{ secrets.DO_DEPLOY_KEY }}

    - name: Deploy to DO
      run: |


        ssh -o StrictHostKeyChecking=no root@24.199.127.184 "


          cd ~/classroom-economy &&
          git pull origin main &&
          source venv/bin/activate &&
          pip install -r requirements.txt &&
          flask db upgrade &&
          sudo systemctl restart gunicorn
        "